<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问题列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">

</head>
<body >
<!--顶部-->
<div th:include="nav" class="nav">
</div>
<div class="container-fluid main" >
    <div class="row">
        <div class="col-lg9 col-md-9 col-sm-12 col-xs-12" aria-hidden="true">

                <label class="left"><h3><span class=" glyphicon glyphicon-list"></span>发现</h3></label>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#">最新</a></li>
                <li role="presentation"  class="active"><a href="#">热门</a></li>
                <li role="presentation"><a href="#">推荐</a></li>
                <li role="presentation"><a href="#">消灭零回复</a></li>
            </ul>
            <div class="media" th:each="question: ${questionList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                   <a href="#"><h4 th:text="${question.title}"></h4></a>
                    <span th:text="${question.description}"></span><br>
                    <span class="text-desc">
                        medcl 发表了文章 • <span th:text="${question.commentCount}"></span>个评论 • <span th:text="${question.viewCount}"></span>次浏览
                        •发布于： <span th:text="${#calendars.format(question.gmtCreate,'dd MMMM yyyy')}"></span>
                    </span>
                </div>
                <hr>
            </div>

            <h2><span aria-hidden="true"></span></h2>

        </div>
        <div class="col-lg3 col-md-3 col-sm-12 col-xs-12" aria-hidden="true">
            <label class="left"><h3><span > &nbsp;</span></h3></label>
            <ul class="nav ">
                <li><h4><a href="#">热门话题</a></h4></li>
            </ul>
           <ul >
               <li >

               </li>
           </ul>
        </div>

    </div>
    <div class="row">
        <!--分页-->
        <nav aria-label="...">
            <ul class="pagination">
                <li class="disabled">
      <span>
        <span aria-hidden="true">&laquo;</span>
      </span>
                </li>
                <li class="active">
                    <span>1 <span class="sr-only">(current)</span></span>
                </li>
                <li >
                    <span>2<span class="sr-only">(current)</span></span>
                </li>
                <li >
                    <span>3<span class="sr-only">(current)</span></span>
                </li>
                <li >
                    <span>4<span class="sr-only">(current)</span></span>
                </li>
            </ul>
        </nav>
    </div>

</div>

</body>
</html>