<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:o="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>发布问题</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>


</head>
<body>
<!--顶部-->
<div th:include="nav" class="nav">
</div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg9 col-md-9 col-sm-12 col-xs-12" aria-hidden="true">
            <form action="/publish" method="post">
                <input  type="hidden" id="id" name="id" th:value="${question != null ? question.id :''}">
                <div class="form-group">
                    <label><h3><span class="glyphicon glyphicon-plus "></span>发起</h3></label>
                    <hr>
                </div>
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）：</label>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="title" id="title" placeholder="请输入标题" th:value="${question != null ? question.getTitle():''}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <lable for="description">问题补充 (必填，请参照右侧提示):</lable>
                    <textarea name="description"   id="description" class="form-control" rows="10" th:text="${question !=null ?question.description:''}"></textarea>
                </div>
                <!--标签-->
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" th:value="${question != null ? question.tag : ''}" id="tag" name="tag"
                           autocomplete="off"
                           placeholder="输入标签，以，号分隔"
                           onclick="showSelectTag()">
                    <div id="select-tag" class="publish-tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}"
                                th:class="${selectCategoryStat.first ? 'active':''}">
                                <a th:href="${'#'+selectCategory.category}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${selectCategory.category}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" th:id="${selectCategory.category}"
                                 th:each="selectCategory: ${tags}"
                                 th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span>
                                    <span th:each="selectTag: ${selectCategory.tags}">
                                    <span class="community-tag" onclick="selectTag(this)"
                                          th:data-tag="${selectTag}"
                                          th:text="${' '+selectTag}">
                                    </span>
                                </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--错误提示-->
                <div th:if="${error != null }" class="alert alert-danger" th:text="${error}"></div>
                <!--发起/保存 按钮-->
                <button type="submit" class="btn btn-success" th:text="${question != null ? '保存修改':'发起问题'}"></button>
            </form>
            <h2><span aria-hidden="true"></span></h2>

        </div>
        <div class="col-lg3 col-md-3 col-sm-12 col-xs-12" aria-hidden="true">
            <label><h3>问题发起指南</h3></label>
            <hr>
            <span>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字<br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：<br>
            • 选择标签: 选择一个或者多个合适的标签，不超过10个字<br>
            • 关于积分： 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.
           </span>
        </div>
    </div>

</div>

</body>
</html>